:root { 
    --rounding: 5px;
 }

 /* Shrink and square (or round) cast thumnails */
@media all and (min-width: 131.25em){
    #castContent .card.overflowPortraitCard {
      width: 6.3vw !important; 
      font-size: 90% !important;
    }
  }
  @media all and (min-width: 120em) and (max-width: 131.25em){
    #castContent .card.overflowPortraitCard {
      width: 6.4vw !important; 
      font-size: 90% !important;
    }
  }
  @media all and (min-width: 100em) and (max-width: 120em){
    #castContent .card.overflowPortraitCard {
      width: 7.6vw !important; 
      font-size: 90% !important;
    }
  }
  @media all and (min-width: 87.5em) and (max-width: 100em){
    #castContent .card.overflowPortraitCard {
      width: 9.3vw !important; 
      font-size: 90% !important;
    }
  }
  @media all and (min-width: 75em) and (max-width: 87.5em){
    #castContent .card.overflowPortraitCard {
      width: 10.5vw !important; 
      font-size: 90% !important;
    }
  }
  @media all and (min-width: 50em) and (max-width: 75em){
    #castContent .card.overflowPortraitCard {
      width: 15vw !important;
      font-size: 90% !important;
    }
  }
  @media all and (min-width: 43.75em) and (max-width: 50em){
    #castContent .card.overflowPortraitCard {
      width: 20.1vw !important; 
      font-size: 90% !important;
    }
  }
  @media all and (min-width: 25em) and (max-width: 43.75em){
    #castContent .card.overflowPortraitCard {
      width: 31.2vw !important; 
      font-size: 90% !important;
    }
  }
  @media all and (max-width: 25em){
    #castContent .card.overflowPortraitCard {
      width: 40vw !important; 
      font-size: 90% !important;
    }
  }

/* Rounded corners on pretty much everything */
.formDialogHeader {
    border-top-left-radius: var(--rounding);
    border-top-right-radius: var(--rounding);
  }
  .formDialogFooter {
    border-bottom-left-radius: var(--rounding);
    border-bottom-right-radius: var(--rounding);
  }
  .cardOverlayContainer {
      border-radius: var(--rounding) !important;
  }
  .primaryImageWrapper > img,
  .toast,
  .paperList,
  .cardContent,
  .sessionNowPlayingInnerContent, 
  .listItem:hover, 
  .cardImage,
  .fab,
  .raised,
  .multiSelectCheckboxOutline,
  .itemSelectionPanel,
  .cardContent-button, 
  .cardContent-shadow, 
  .itemDetailImage, 
  .cardOverlayButton-hover,
  .cardImageContainer,
  .cardPadder,
  .listItemImage,
  .listItemImageButton,
  .listItemButton,
  .headerButton,
  .paper-icon-button-light,
  .innerCardFooter,
  .blurhash-canvas,
  .dialog,
  .countIndicator,
  .playedIndicator,
  .listItemIcon,
  .listItem-border,
  .button-flat,
  .visualCardBox,
  .checkboxOutline,
  .emby-select-withcolor,
  .chapterThumbTextContainer,
  .chapterThumbContainer,
  .chapterThumb,
  .emby-input, 
  .emby-textarea, 
  .emby-select-withcolor,
  .nowPlayingPageImage,
  .upNextDialog-poster-img,
  .cardOverlayButtonIcon {
    border-radius: var(--rounding) !important;
  }
  .osdPoster img {
    border-radius: var(--rounding); border: none;
  }
  .mdl-slider::-moz-range-thumb {
    border-radius: var(--rounding);
  }
  .mdl-slider::-ms-thumb {
    border-radius: var(--rounding);
  }
  .mdl-slider::-webkit-slider-thumb {
    border-radius: var(--rounding);
  }
  
  div[data-role="controlgroup"] a[data-role="button"]:first-child {
      border-bottom-left-radius: var(--rounding);
      border-top-left-radius: var(--rounding);
  }
  div[data-role="controlgroup"] a[data-role="button"]:last-child {
      border-bottom-right-radius: var(--rounding);
      border-top-right-radius: var(--rounding);
  }

/* PLAY, WATCHED, FAVORITE and MENU button */
button.cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light.cardOverlayFab-primary,
button.listItemImageButton.itemAction.paper-icon-button-light {
    transform: none;
}
button.cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light:hover:not(:disabled).cardOverlayFab-primary {
    background-color: rgba(0,164,220,.7);
}
button.cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light.cardOverlayFab-primary {
    border-radius: 5px;
}
span.material-icons.cardOverlayButtonIcon.cardOverlayButtonIcon-hover.play_arrow {
    color: hsla(0,0%,100%,.76);
}
button.cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light.emby-button,
button.cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light:hover:not(:disabled) {
    background-color: transparent;
}

button.listItemImageButton.itemAction.paper-icon-button-light {
    font-size: 1.2em;
}

span.material-icons.listItemImageButton-icon.play_arrow {
    color: hsla(0,0%,100%,.76);
}

button.listItemImageButton.itemAction.paper-icon-button-light:hover:not(:disabled) {
    background-color: rgba(0,164,220,.7)
}

/* Style the number of episodes left */


/* Progressbar */
.itemProgressBar { background: rgba(0,0,0,0); }